<div class="article-card">
  <h2 class="blue-grey-text text-darken-2 drop-anim">{{title}}</h2>
  <div>
    {{tags}}
  </div>
  <div class="article-info">
    <div class="date-author">
      <i class="material-icons">date_range</i>&nbsp;{{date}}
    </div>
    <div class="date-author">
        <i class="material-icons">account_box</i>&nbsp;Par <b>{{author}}</b>
    </div>
  </div>

  <div class="nice-links" id="articleContent">
      {{content}}
  </div>

</div>

<div class="card-panel white z-depth-4">
  <h4 class="blue-grey-text text-darken-2" id="commentsA">Commentaires</h4>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">comment</i>Ecrire un commentaire</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="input-field col s12">
            <input id="nameInput" required type="text" />
            <label for="nameInput">Votre nom</label>
          </div>
          <div class="input-field col s12">
            <textarea id="commentInput" required class="materialize-textarea"></textarea>
            <label for="commentInput">Commentaire</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">help</i>
            <input id="questionInput" type="text" />
            <label for="questionInput">Combien font 4x0+2?</label>
          </div>
          <div class="col s12">
            <input type="hidden" value="{{id}}" id="articleIdInput" />
            <button class="btn waves-effect waves-light right" 
              name="action" 
              onclick="app.sendComment()"
              id="submitComment">
                Envoyer
                <i class="material-icons right">send</i>
            </button>
          </div>
        </div>  
      </div>
    </li>
  </ul>
</div>

<div class="row" id="comments"></div>