<div class="{{layout}}">
  <div class="article-card card hoverable">
    <div class="card-content nice-links">
      <img class="right top-img" src="{{thumbImage}}" width="110" width="110" />
      <span class="card-title blue-grey-text text-darken-1">{{title}}</span>
      <div>
        {{tags}}
      </div>
      <div class="article-info">
        <div class="date-author">
          <i class="material-icons">date_range</i>&nbsp;{{date}}
        </div>
        <div class="date-author">
            <i class="material-icons">account_box</i>&nbsp;Par <b>{{author}}</b>
        </div>
      </div>
      {{summary}}
    </div>
    <div class="card-action">
      <a class="waves-effect waves-light btn" href="/articles/{{articleURL}}"><i class="material-icons right">open_in_new</i>Suite</a>
      <a class="waves-effect waves-light btn right" href="/articles/{{articleURL}}#commentsA"></span><i class="material-icons right">comment</i>{{commentsCount}}</a>
    </div>
  </div>
</div>