<div class={{layout}}>
  <div class="article-card card hoverable">
    <div class="card-content nice-links">
      <img class="right top-img {{hideThumbImage}}" src="{{thumbImage}}" width="110" width="110" />
      <span class="card-title blue-grey-text text-darken-1">{{title}}</span>
      <div>
        {{tags}}
      </div>
      <div class="article-info" data-nosnippet>
        <div class="date-author">
          <i class="material-icons" aria-hidden="true">date_range</i>&nbsp;{{date}}
        </div>
        <div class="date-author">
          <i class="material-icons" aria-hidden="true">account_box</i>&nbsp;Par <b>{{author}}</b>
        </div>
      </div>
      {{summary}}
    </div>
    <div class="card-action" data-nosnippet>
      <a class="waves-effect waves-light btn" href="/articles/{{articleURL}}"><i class="material-icons right"
          aria-hidden="true">open_in_new</i>Suite</a>
      <a class="waves-effect waves-light btn right" href="/articles/{{articleURL}}#commentsA"></span><i
          class="material-icons right" aria-hidden="true">comment</i>{{commentsCount}}</a>
    </div>
  </div>
</div>