<div class={{layout}}>
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{thumbImage}}">
    </div>
    <div class="card-content nice-links">
      <span class="card-title activator blue-grey-text text-darken-1">{{title}}</span>
      <p>{{summary}}</p>
    </div>
    <div class="card-action">
      <a href="/breves/{{id}}">Lire la suite...</a>
    </div>
    <div class="card-reveal">
      <span class="card-title blue-grey-text text-darken-1"><i class="material-icons right">close</i></span>
      <div class="article-info nice-links">
        <div class="date-author">
          <i class="material-icons">date_range</i>&nbsp;{{date}}
        </div>
      </div>
      <p>{{content}}</p>
    </div>
  </div>
</div>