<div class="card-panel white z-depth-4 article-card nice-links">
  <h1 class="blue-grey-text text-darken-2">Engagez-moi!</h1>
  <p>
    Je pose cette page au cas où, pour une raison que je ne peux vraiment pas deviner à l'avance parce que franchement c'est un peu bizarre, vous avez envie de travailler avec moi sur un projet.
  </p>
  <p>
    J'ai écrit des trucs et des machins sur mon "expertise" ci-dessous mais le seul véritable cas où je pourrais envisager que quelqu'un s'intéresse à moi c'est s'il s'agit d'écrire des articles cyniques avec des phrases beaucoup trop longues sur la tech ou comment dessiner un pantalon SVG.
  </p>
  <h1 class="blue-grey-text text-darken-2">Expertise</h1>
  <ul>
    <li>
      Developpement d'applications web efficaces. C'est-à-dire pouvant tourner correctement dans un environnement serverless ou sur un VPS-tellement-bon-marché-qu'il-n'inspire-vraiment-pas-confiance-mais-en-fait-tout-va-bien.
    </li>
    <li>
      Consultance/analyse, prototypage (si le mot existe) de votre idée d'application web sur l'ensemble du "stack" comme on dit, bénéficiant de mon expérience sur plusieurs types de backend et frontend et en tenant compte dans l'environnement d'hébergement cible.
    </li>
  </ul>
  <ul>
    <li>
      Développement de client graphique riche (JavaFX, Electron) - Vous savez, ces applications qui ne tournent pas dans un navigateur et que plus personne ne développe.
    </li>
  </ul>
  <ul>
    <li>
      Consultance en architecture d'application web, optimisation des performances, haute disponibilité, backup et sécurité.
    </li>
  </ul>
  <h1 class="blue-grey-text text-darken-2">Contact</h1>
  <p>
    Pour toute matière professionnelle merci de me contacter par email sur <a href="mailto:business@dkvz.eu">business@dkvz.eu</a>.
  </p>
  <hr />
  <div class="around-justified-box">
    <img src="/assets/oracle_java_logo.png" width="300" height="152" />
    <img src="/assets/js_logo.png" width="157" height="157" />
    <img src="/assets/php_logo.png" width="291" height="157" />
  </div>
</div>