<div class="card-panel white z-depth-4 article-card nice-links">
  <h1 class="blue-grey-text text-darken-2">Engagez-moi!</h1>
  <p>
    Je pose cette page au cas où, pour une raison que je ne peux vraiment pas deviner à l'avance parce que franchement
    c'est un peu bizarre, vous avez envie de travailler avec moi sur un projet.
  </p>
  <p>
    J'ai écrit des trucs et des machins sur mon "expertise" ci-dessous mais le seul véritable cas où je pourrais
    envisager que quelqu'un s'intéresse à moi c'est s'il s'agit d'écrire des articles cyniques avec des phrases beaucoup
    trop longues sur la tech ou comment dessiner un pantalon SVG.
  </p>
  <h1 class="blue-grey-text text-darken-2">Expertise</h1>
  <p>Il y a beaucoup trop de mots clés ou de termes à la mode que je pourrais poser ici.</p>
  <p>Il y a aussi quelques autres choses moins à la mode.</p>
  <p>Sinon à la base je suis admin système généraliste et architecte que ça soit dans le cloud le plus moderne ou le VPS
    le moins cher du monde.</p>
  <h1 class="blue-grey-text text-darken-2">Contact</h1>
  <p>
    Pour toute matière professionnelle merci de me contacter par email sur <a
      href="mailto:business@dkvz.eu">business@dkvz.eu</a>.
  </p>
  <hr />
  <div class="around-justified-box">
    <img src="/assets/marquee.svg" width="120" height="120" />
    <img src="/assets/server.svg" width="120" height="120" />
    <img src="/assets/fet.svg" width="120" height="120" />
    <img src="/assets/soldering_iron.svg" width="120" height="120" />
    <img src="/assets/flute.svg" width="120" height="120" />
    <img src="/assets/trumpet.svg" width="120" height="120" />
  </div>
</div>