<div class="row mobile-hack">
  <div class="card-panel transp-box col s12">
    <h4 class="center blue-grey-text text-darken-2 drop-anim">Le Blog des Articles Beaucoup Trop Longs</h4>
    <div class="center row">
      <div class="col m6 s12">
        <div class="section"><a class="waves-effect waves-light btn-large" href="/articles"><i class="material-icons left">create</i>Lire mes articles</a></div>
      </div>
      <div class="col m6 s12">
        <div class="section"><a class="waves-effect waves-light btn-large" href="/breves"><i class="material-icons left">chat_bubble</i>Lire mes brèves</a></div>
      </div>
    </div>
  </div>
</div>
    
<div class="row mobile-hack">
  <div class="transp-box col l6 m12 s12">
    <div class="section">
      <h4 class="drop-anim blue-grey-text">Dernières Brèves</h4>
      <div class="row" id="lastShorts">
        <!-- Breves -->
        <div class="col s12 center">
          <div class="preloader-wrapper small active" id="shortsSpinner">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="transp-box col l6 m12 s12">
    <div class="section">
      <h4 class="drop-anim blue-grey-text">Derniers Articles</h4>
      <div class="row" id="lastArticles">
        <!-- Articles -->
        <div class="col s12 center">
          <div class="preloader-wrapper small active" id="articlesSpinner">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>