<div class="card-panel transp-box transition-container" id="searchBox">
  <div class="cta-row" id="searchPanel">
    <label class="search-control z-depth-1">
      <i class="material-icons" aria-hidden="true">search</i>
      <form id="searchForm">
        <input type="text" id="searchInput" placeholder="Rechercher" aria-label="Rechercher" />
      </form>
    </label>
  </div>
</div>

<div class="card-panel transp-box">
  
  <div class="row-flex">
    <h3 class="blue-grey-text text-darken-2 drop-anim">Rechercher</h3>
  </div>
    
  <div class="divider"></div>

  <h4 class="blue-grey-text text-darken-2 center-flex" id="nothingFound">
    <i class="large material-icons">sentiment_neutral</i>
    Rien trouvé.
  </h4>

  <div class="row" id="articles"></div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light blue-grey darken-2" onclick="app.goToTop()">
      <i class="large material-icons">arrow_upward</i>
    </a>
  </div>
  
</div>