body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  scroll-behavior: smooth;
}
.gradient-bg {
  background-color: #455A64;
  /*background: linear-gradient(to bottom, rgba(96,125,139,1) 0%,rgba(0,0,0,0) 100%);*/
  /*background: linear-gradient(to bottom, rgba(69,90,100,1) 0%,rgba(0,0,0,0) 100%);*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#607d8b+0,ffffff+50,607d8b+100&0.9+0,0.9+100 */
  background: -moz-linear-gradient(top, rgba(220,220,220,0.9) 0%,rgba(69,90,100,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(220,220,220,0.9) 0%,rgba(69,90,100,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(220,220,220,0.9) 0%,rgba(69,90,100,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6607d8b',GradientType=0 ); /* IE6-9 */
}
.pattern-bg {
  background-image: url('../../assets/patpull.jpg');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: fixed;
}
.hero-button {
  width: 260px;
  max-width: 100%;
}
main {
  flex: 1 0 auto;
}
nav {
  position: relative;
  top: 0;
}
nav .categories-wrapper {
  height: 64px;
  background-color: inherit;
}
nav .categories-container {
  background-color: inherit;
  position: relative;
}
nav .nav-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../assets/gilleshead_350.png'), linear-gradient(to bottom, #085678 0%, #455a64 125%);
  background-color: #455a64;
  background-repeat: no-repeat;
  background-position: 90% 30%;
  /*opacity: '';*/
}
.pinned {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);
}
.transp-box {
  background-color: rgba(255,255,255,0.85);
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.drop-anim {
  animation-name: drop;
  animation-duration: 1s;
}
.top-img {
  border-radius: 50%;
  height: 110px;
  box-shadow: 4px 2px 2px #888888;
  margin-left: 6px;
}

.article-card ul, .normal-ul ul {
  padding-left: 34px;
  overflow: hidden;
}

.article-card ul > li, .normal-ul ul > li {
  list-style: disc outside none;
}

.article-card h1 {
  font-size: 2.8rem;
  font-family: "Roboto", sans-serif;
}

.article-card h2 {
  font-size: 2.3rem;
  font-family: "Roboto", sans-serif;
}

.article-card h3 {
  font-size: 2.0rem;
  font-family: "Roboto", sans-serif;
}

.article-card h4 {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}

.article-card h5 {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
}

.article-card h6 {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#articleContent {
  font-family: medium-content-serif-font, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 1.3em;
  line-height: 1.3em;
  padding-bottom: 30px;
}

#article {
  width: 100%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

/* .cta-img {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
} */

/* .hero-bg {
  background-image: url('/assets/blog_logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  align-items: flex-end;
  height: 250px;
} */

.blog-title {
  text-shadow: 0px 0px 8px rgba(80, 80, 80, 0.5);
}


.search-control {
  width: 100%;
  border: 2px solid #26a69a;
  padding: 0 !important;
  margin: 0;
  display: flex;
  align-items: center;
}

.search-control i {
  font-size: 2.4rem;
  background-color: #26a69a;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 46px;
}

.search-control input[type="text"], 
.search-control input[type="text"]:focus {
  border-bottom: none !important;
  box-shadow: none !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
}

.cta-row {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 22px;
}

@media (max-width: 600px) {
  nav .nav-background {
    background: url('../../assets/gillescut_300.png'), linear-gradient(to bottom, #085678 0%, #455a64 115%);
    background-position: 90% bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .cta-row {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .cta-row > * {
    width: 100%;
    margin-bottom: 14px;
  }
  .row-flex {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
  }
  #mainEl {
    width: 100%;
  }
  #randomQuote {
    font-size: 0.65em;
  }
  #articleContent {
    font-size: 1.14em;
    line-height: 1.3em;
    padding-bottom: 20px;
  }
  #article {
    width: 100%;
  }
  .card-panel {
    padding: 24px 10px 24px 10px;
  }
  .mobile-hack {
    width: 100%;
    margin: 0 !important;
  }
  .article-card {
    padding-left: 12px;
    padding-right: 12px;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.6rem;
  }
}

@media (max-width: 1032px) {
  #searchL {
    display: none;
  }
}

@media (min-width: 1380px) {
  #article {
    width: 80%;
  }
}

/*@media (min-width: 600px) and (max-width: 1380px) {
  #randomQuote {
    font-size: 0.8em;
  }
  nav ul a {
    font-size: 0.8em;
  }
}*/

.date-author * {
  vertical-align: middle;
  line-height: 30px;
}

.article-info {
  padding-bottom: 16px;
}

.screen {
  font-size: 0.85em;
  padding: 15px;
  margin-bottom: 1.8em;
  background: #333;
  color: #f0f0f0 !important;
  border: 1px solid #1a1a1a;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: block;
  font-family: "dejavu sans mono","liberation mono","bitstream vera mono","dejavu mono",monospace;
  margin-top: 1em;
  /*white-space: pre-wrap;
  word-wrap: break-word;*/
  -moz-tab-size: 4;
  tab-size: 4;
  word-break: normal;
  overflow: auto;
  line-height: 1.25em;
}

.article-image {
  padding: 0;
}

.center-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}

div.article-image.left {
  margin-right: 14px;
}
div.article-image.right {
  margin-left: 14px;
}

.image-legend {
  padding: 8px;
}

.comment-card {
  padding: 0;
}

.comment-card-header {
  overflow: auto;
  padding-bottom: 10px;
  padding-top: 4px;
}

.comment-card pre {
  white-space:pre-wrap;
}

.nice-links a {
  color: #ff487a;
  transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
  text-decoration: none;
}

.nice-links a:hover {
  -webkit-animation: zomg 3s infinite;
  -moz-animation: zomg 3s infinite;
  animation: zomg 3s infinite;
}

.around-justified-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-content {
  overflow: hidden;
}

.article-card .card-content p {
  margin-top: 12px;
  margin-bottom: 12px;
}

.article-card .card-content h1,
.article-card .card-content h2 {
  font-size: 1.4em;
}

@-webkit-keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074D9; }
  32%      { color: #2ECC40; }
  48%      { color: #FFDC00; }
  64%      { color: #B10DC9; }
  80%      { color: #FF4136; }
}
@-moz-keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074D9; }
  32%      { color: #2ECC40; }
  48%      { color: #FFDC00; }
  64%      { color: #B10DC9; }
  80%      { color: #FF4136; }
}
@keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074D9; }
  32%      { color: #2ECC40; }
  48%      { color: #FFDC00; }
  64%      { color: #B10DC9; }
  80%      { color: #FF4136; }
}

/* Card scale-up effect */
.scale-up {
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-animation: scaleUp 0.5s ease-in-out forwards;
	animation: scaleUp 0.5s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}
/* End card scale-up effect */

/* Simple page transition I'm using */
.trans-left {
  animation: transLeft 0.6s ease;
}

@keyframes transLeft {
  0% {transform: translate3d(-20vw, 0, 0);}
  100% {transform: translate3d(0, 0, 0);}
}
/* End page transition I'm using */

.aligned-icon {
  vertical-align: bottom;
}

.super-divider {
  border: none;
  height: 4px;
  margin-top: 36px;
  margin-bottom: 22px;
  border-radius: 10%;
  width: 4px;
  max-width: 100%;
  animation: divider 0.7s ease-out 0.9s forwards;
}

@-webkit-keyframes divider {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(55); }
}
@-moz-keyframes divider {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(55); }
}
@keyframes divider {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(55); }
}

.transition-container {
  transition: all 1s ease-out;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}